<div class="root">
    <div class="dws-form">
        <form action="">
            <h1>Login</h1>
            <input type="text" placeholder="email..." [(ngModel)]="email" name="email">
            <input type="text" placeholder="password..." [(ngModel)]="password" name="password">

            <button (click)="getRole()">Login</button>
            <button (click)="register()">New account</button>
        </form>

        <a class="button" style="cursor: pointer;" routerLink="/home">We wish you took pleasure in viewing site. </a>

    </div>
</div>