<img *ngIf="!companies" src="/src/assets/load/1.gif" height="449px" width="350px" style="margin-top: 2%;">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<p class="now">List of "Book Publishing Companies".</p>
<div *ngIf="companies" class="dws-wrapper">
    <div class="flex-cont">
        <div *ngFor="let p of companies" class="box">
            <img style="cursor: pointer;" routerLink="/company-details/{{p.id}}" class="img" src="{{p.imageURL}}">
            <a style="cursor: pointer;" routerLink="/company-details/{{p.id}}">{{p.name}}</a>
        </div>
    </div>
</div>