<img *ngIf="!companies" src="/assets/load/1.gif" height="400px" width="350px" style="margin-top: 20px;">

<div *ngIf="companies" class="dws-wrapper">
    <p class="now">List of "Book Publishing Companies".</p>
    <div class="flex-cont">
        <div *ngFor="let p of companies" class="box">
            <img class="img" style="cursor: pointer; width: 140px; height: 140px;" routerLink="/company-details/{{p.id}}" src="{{p.imageURL}}">
            <a style="cursor: pointer;" routerLink="/company-details/{{p.id}}">{{p.name}}</a>
        </div>
    </div>
</div>