.flex-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dws-wrapper {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    height: 70%;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#627379, #7E878A, #ADD8E6, #7E878A, #627379);
    border-radius: 5px;
}

.box {
    overflow: hidden;
    height: 190px;
    width: 200px;
    position: relative;
    margin: 15px;
}

img {
    margin: 0 auto;
    width: 140px;
    padding: 15px;
    height: 140px;
    display: inline-block;
    /* Строчно-блочный элемент */
    overflow: hidden;
    /* Скрываем всё за контуром */
    transition: 1s;
    /* Время эффекта */
    display: block;
    /* Убираем небольшой отступ снизу */
}

img:hover {
    transform: scale(1.15);
    /* Увеличиваем масштаб */
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(239, 248, 250);
    transition: 1s;
    /* Время изменения */
}

a:hover {
    color: lightskyblue;
    /* Красный цвет ссылки*/
}

.now {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: rgb(239, 248, 250);
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    margin-top: 0;
    padding: 5px;
}