.flex-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dws-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  height: 80%;
  overflow: auto;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#627379, #7E878A, #ADD8E6, #7E878A, #627379);
  border-radius: 5px;
}

.imageBox {
  height: 350px;
  width: 250px;
  position: relative;
  margin: 15px;
  background-color: rgba(73, 157, 173, 0.2);
}

img {
  position: absolute;
  left: 2%;
}

img {
  padding: 30px 15px 10px 15px;
  width: 80px;
  height: 100px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  filter: grayscale(.2);
}

img:hover {
  -webkit-transform: scale(1.2) rotate(-10deg);
  -moz-transform: scale(1.2) rotate(-10deg);
  -ms-transform: scale(1.2) rotate(-10deg);
  -o-transform: scale(1.2) rotate(-10deg);
  transform: scale(1.2) rotate(-10deg);
  filter: grayscale(0);
}

a,
h1 {
  font-size: 18px;
  text-align: center;
  color: #ADD8E6;
  text-decoration: none;
  position: absolute;
}

.shimmer {
  top: 7%;
  left: 50%;
  text-align: center;
  color: rgba(27, 14, 14, 0.1);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, rgb(19, 98, 151)));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, orange));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, orange));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 125px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}

@-moz-keyframes shimmer {
  0% {background-position: top left;}
  100% {
    background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}

.title {
  text-transform: uppercase;
  top: 38%;
  left: 0%;
  padding: 0 10px 0 10px;
  width: 240px;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 100%
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent
  }
  50% {
    border-color: orange
  }
}

h1 {
  top: 43%;
  width: 250px;
  text-align: center;
}

table {
  width: 100%;
  position: absolute;
  top: 60%;
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  border-collapse: separate;
  border-spacing: 1px;
}

.cat {
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: center;
  color: rgb(21, 64, 73);
  text-decoration: none;
  text-transform: uppercase;
}

.button {
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: rgb(222, 241, 245);
  border: none;
  color: rgb(21, 64, 73);
  padding: 5px 5px;
  text-align: center;
  font-size: 10px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline-block;
  text-decoration: none;
}

.button:hover {
  opacity: 1
}

.del {
  position: absolute;
  top: 97%;
  left: 0%;
}

.up {
  position: absolute;
  top: 93%;
  left: 30%;
}
