<div class="head">

    <h2>Welcome to your account
        <a class="update-company" style="cursor: pointer;" data-tooltip="ACCOUNT DETAILS" routerLink="/update-company">{{company.name }} №{{company.id}} !</a></h2>

    <a class="add-coupon" style="z-index: 5;" routerLink="/add-coupon">Add coupon</a>
</div>

<div class="company-coupons">
    <table *ngIf="coupons">
        <tr>
            <th>id</th>
            <th>url</th>
            <th>title</th>
            <th>desc.</th>
            <th>price(₪)</th>
            <th>amount(pc.)</th>
            <th>cat.</th>
            <th>start date</th>
            <th>end date</th>
            <th>update</th>
            <th>delete</th>
        </tr>
        <tr class="row" *ngFor="let p of coupons">
            <td>{{p.id}}</td>

            <td> <img src="{{p.imageURL}}" width=80px; height=100px;></td>
            <td> <a style="cursor: pointer; text-transform: uppercase;" routerLink="/coupon-details/{{p.id}}">{{p.title}}</a></td>
            <td> <a style="cursor: pointer; text-transform: uppercase;" routerLink="/coupon-details/{{p.id}}">{{p.description}}</a> </td>
            <td>{{p.price}}</td>
            <td>{{p.amount}}</td>
            <td> <a style="cursor: pointer;" routerLink="/coupon-category/{{p.category}}">
                    {{p.category}}</a></td>
            <td>{{p.startDate}}</td>
            <td>{{p.endDate}}</td>
            <td><button title="Update Coupon" (click)=saveCouponId(p.id)>
                    <i class="fa fa-pencil" style="font-size:40px;color:lightblue"></i></button>
            </td>
            <td><button title="Delete Coupon" (click)=delCoupon(p.id)><i class="fa fa-times" style="font-size:40px;
                   color:lightcoral;"></i></button>
            </td>
        </tr>
    </table>
</div>