<img *ngIf="!coupons" src="/assets/load/1.gif" height="400px" width="350px" style="margin-top: 20px;">

<div *ngIf="coupons" class="dws-wrapper">
    <div *ngFor="let p of coupons" class="box">
        <a style="cursor: pointer;" routerLink="/sales/{{p.id}}"> {{p.description}}</a><br>
        <a style="cursor: pointer;" routerLink="/sales/{{p.id}}"> {{p.title}}</a><br>
        <h1>{{p.price}}₪</h1>
        <img class="img" src="{{p.imageURL}}">
        <table>
            <a style="cursor: pointer;" class="cat" routerLink="/coupon-category/{{p.category}}">
                <td>categoty: {{p.category}}</td>
            </a>
            <tr>
                <td>amount: {{p.amount}} pc.</td>
            </tr>
            <tr>
                <td>start_date: {{p.startDate}}</td>
            </tr>
            <tr>
                <td>end_date: {{p.endDate}}</td>
            </tr>
        </table>
    </div>
</div>