.dws-wrapper {
    margin: 0;
    padding: 0;
    margin-top: 30px;
    height: 80%;
    overflow: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#627379, #7E878A, #ADD8E6, #7E878A, #627379);
    border-radius: 5px;
}

.box {
    height: 380px;
    width: 260px;
    position: relative;
    margin: 15px;
    background-color: rgba(73, 157, 173, 0.2);
}

.img {
    margin-top: auto;
    padding: 20px;
    width: 90px;
    height: 110px;
    transition: 1s;
}

.img:hover {
    transform: scale(1.2);
}

a,
h1 {
    margin: 0px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #ADD8E6;
    text-decoration: none;
    transition: 1s;
}

h1 {
    color: lightseagreen;
}

table,
.cat {
    color: #000;
    width: 100%;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    border-collapse: separate;
    border-spacing: 1px;
    text-decoration: none;
}

a:hover {
    color: red;
    /* Красный цвет ссылки*/
}