h1 {
    margin: 0;
    padding: 0;
    color: rgb(222, 241, 245);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-transform: uppercase;
}

form {
    background-size: cover;
    margin: 20px auto;
    opacity: 0.7;
    height: 70%;
    overflow: auto;
}

 ::-webkit-scrollbar {
    width: 12px;
}

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(#627379, #7E878A, #ADD8E6, #7E878A, #627379);
    border-radius: 5px;
}

.menu-box {
    border-radius: 5px;
    padding: 20px;
    width: 420px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.menu-box input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 18px;
    background: #D0CBAA;
    color: #454547;
    opacity: 0.7;
}

label {
    text-transform: uppercase;
    text-align: left;
    display: block;
    margin-left: 71px;
}

.up {
    border: 0;
    background: #709ca5;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid lightblue;
    padding: 5px 50px;
    text-transform: uppercase;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 18px;
    /*цвет текста внутри*/
    outline: none;
    color: white;
    border-radius: 2px;
    transition: 0.25s;
}

.up:hover {
    background: rgb(0, 255, 170);
}

span {
    color: red;
    margin: 10px;
    position: absolute;
    font-size: large;
}