<nav class="dws-menu">
    <a class="login" title="Login" routerLink="login"><i class="fa fa-sign-in"
            style="font-size:40px;  color:lightblue;"></i></a>
    <div>
        <button title="Logout" (click)=logout()><i class="fa fa-sign-out"
                style="font-size:40px;color:rgb(72, 103, 114);"></i></button>
    </div>
    <ul>
        <li><a routerLink="home"><i class="fa fa-home" style="font-size:40px;color:lightblue;"></i>Home</a></li>
        <li><a routerLink="company"><i class="fa fa-building" style="font-size:40px;color:lightblue;"></i>Company</a>
        </li>
        <li><a routerLink="coupon"><i class="fa fa-ticket" style="font-size:40px; color:lightblue;"></i>Coupon</a>
        </li>
        <li>
            <a class="login" title="Admin Account" routerLink="admin-account"><i class="fa fa-shield"
                style="font-size:40px;color:lightblue;"></i>Account</a>
        </li>
    </ul>
</nav>